In [1]:
import re

In [2]:
text="""Hello World.
I love Python!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""

In [3]:
# return the first match
re.search(r'\d',text)

In [4]:
#flags
re.search(r'^hello',text,flags=re.I)

In [6]:
# re.findall
re.findall(r'\d',text)

['9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6']

In [8]:
#Match only punctuation
text="""Hello World.
I love Python!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""
re.findall(r'[^\w\s]',text)

['.', '!', '!', '!', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

In [10]:
# Match right date format (mm/dd/yy)
text='''
13-04-2021
2021-13-04
2021-04-13
'''
re.findall(r'\d{2}-\d{2}-\d{4}',text)

['13-04-2021']

In [11]:
# Match right username format (4-14 and only letters or digits) 
text='''
username10
abc
10
'''
re.findall(r'[a-zA-Z0-9]{4,14}',text)

['username10']