In [6]:
import pandas as pd
import ssl

# 1. Read a .csv from a url with pandas

In [3]:
df_premier = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [4]:
df_premier

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,E0,05/10/2025,14:00,Aston Villa,Burnley,2,1,H,1,0,...,1.95,1.90,2.15,1.78,2.08,1.95,1.92,1.86,1.99,2.00
66,E0,05/10/2025,14:00,Everton,Crystal Palace,2,1,H,0,1,...,1.88,1.98,1.83,2.11,1.88,2.02,1.82,1.96,1.93,2.06
67,E0,05/10/2025,14:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.83,2.03,1.96,1.96,1.85,2.05,1.80,1.99,1.93,2.06
68,E0,05/10/2025,14:00,Wolves,Brighton,1,1,D,1,0,...,2.05,1.80,2.20,1.76,2.10,1.90,2.02,1.73,2.13,1.86
69,E0,05/10/2025,16:30,Brentford,Man City,0,1,A,0,1,...,1.75,2.05,1.84,2.10,1.81,2.05,1.78,2.01,1.86,2.15

In [5]:
df_premier.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace = True)

In [6]:
df_premier

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,E0,05/10/2025,14:00,Aston Villa,Burnley,2,1,H,1,0,...,1.95,1.90,2.15,1.78,2.08,1.95,1.92,1.86,1.99,2.00
66,E0,05/10/2025,14:00,Everton,Crystal Palace,2,1,H,0,1,...,1.88,1.98,1.83,2.11,1.88,2.02,1.82,1.96,1.93,2.06
67,E0,05/10/2025,14:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.83,2.03,1.96,1.96,1.85,2.05,1.80,1.99,1.93,2.06
68,E0,05/10/2025,14:00,Wolves,Brighton,1,1,D,1,0,...,2.05,1.80,2.20,1.76,2.10,1.90,2.02,1.73,2.13,1.86
69,E0,05/10/2025,16:30,Brentford,Man City,0,1,A,0,1,...,1.75,2.05,1.84,2.10,1.81,2.05,1.78,2.01,1.86,2.15

# 2. Read .csv from multiple urls with pandas

- https://www.football-data.co.uk/mmz4281/2526/E0.csv

In [7]:
#Link structure
"https://www.football-data.co.uk/mmz4281/"+ "2526"+"/"+"E0.csv"

'https://www.football-data.co.uk/mmz4281/2526/E0.csv'

# Multiple leagues
- https://www.football-data.co.uk/mmz4281/2526/E0.csv
- https://www.football-data.co.uk/mmz4281/2526/E1.csv
- https://www.football-data.co.uk/mmz4281/2526/E2.csv
- https://www.football-data.co.uk/mmz4281/2526/E3.csv
- https://www.football-data.co.uk/mmz4281/2526/EC.csv

In [12]:
#create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

In [5]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [13]:
#create list of leagues
import ssl
ssl._create_default_https_context = ssl._create_unverified_context


leagues=['E0','E1','E2','E3','EC']
frames = []
#loop through leagues read multiple csv and append into a list
for league in leagues:
   df= pd.read_csv(root+'2526' + '/' +  league +'.csv',encoding = 'unicode_escape')
   frames.append(df)

In [14]:
len(frames)

5

In [15]:
frames[0]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,E0,05/10/2025,14:00,Aston Villa,Burnley,2,1,H,1,0,...,1.95,1.90,2.15,1.78,2.08,1.95,1.92,1.86,1.99,2.00
66,E0,05/10/2025,14:00,Everton,Crystal Palace,2,1,H,0,1,...,1.88,1.98,1.83,2.11,1.88,2.02,1.82,1.96,1.93,2.06
67,E0,05/10/2025,14:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.83,2.03,1.96,1.96,1.85,2.05,1.80,1.99,1.93,2.06
68,E0,05/10/2025,14:00,Wolves,Brighton,1,1,D,1,0,...,2.05,1.80,2.20,1.76,2.10,1.90,2.02,1.73,2.13,1.86
69,E0,05/10/2025,16:30,Brentford,Man City,0,1,A,0,1,...,1.75,2.05,1.84,2.10,1.81,2.05,1.78,2.01,1.86,2.15

In [11]:
frames[1]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E1,08/08/2025,20:00,Birmingham,Ipswich,1,1,D,0,0,...,1.88,1.98,1.81,2.12,1.88,1.98,1.81,1.94,1.90,2.10
1,E1,09/08/2025,12:30,Charlton,Watford,1,0,H,0,0,...,1.95,1.90,1.95,1.95,1.95,1.90,1.86,1.83,2.03,1.95
2,E1,09/08/2025,12:30,Coventry,Hull,0,0,D,0,0,...,1.88,1.98,1.95,1.95,1.91,1.98,1.87,1.82,1.97,2.01
3,E1,09/08/2025,12:30,Southampton,Wrexham,2,1,H,0,1,...,1.90,1.95,1.75,2.18,1.90,1.95,1.84,1.91,1.92,2.07
4,E1,09/08/2025,15:00,Middlesbrough,Swansea,1,0,H,0,0,...,2.05,1.75,2.00,1.91,2.05,1.82,2.00,1.76,2.16,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,E1,04/10/2025,15:00,Portsmouth,Middlesbrough,1,0,H,1,0,...,1.85,2.00,1.81,2.13,1.85,2.00,1.82,1.88,1.91,2.06
103,E1,04/10/2025,15:00,Preston,Charlton,2,0,H,0,0,...,1.95,1.90,1.85,2.07,1.95,1.93,1.86,1.90,1.94,2.04
104,E1,04/10/2025,15:00,Swansea,Leicester,1,3,A,0,1,...,1.85,2.00,1.87,2.05,1.85,2.02,1.84,1.94,1.89,2.07
105,E1,04/10/2025,15:00,Watford,Oxford,2,1,H,2,1,...,1.93,1.93,1.93,1.98,1.93,1.94,1.87,1.87,1.97,2.00
106,E1,05/10/2025,12:00,Ipswich,Norwich,3,1,H,2,1,...,1.98,1.88,1.94,1.96,2.02,1.88,1.96,1.82,2.08,1.89

# Multiple seasons

In [16]:


leagues=['E0','E2','E3']
frames = []
#loop through leagues read multiple csv and append into a list
for league in leagues:
    for season in range(15,24):
        df= pd.read_csv(root+str(season)+str(season+1) + '/' +  league +'.csv',encoding = 'unicode_escape')
        df.insert(1,'season',season)
        frames.append(df)

In [17]:
len(frames)

27

In [18]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

# 3 Organize all the data in dictionary

In [28]:
dist_countries = {'Spanish La Liga' : 'sp1',
                  'Spanish Segunda Division':'sp2',
                  'German Bundesliga':'d1',
                  'English Premier League':'e1',
                  'English Championship':'e2'}

In [31]:
dist_countries['Spanish La Liga']

'sp1'

In [32]:

dist_hist={};

#loop through leagues read multiple csv and append into a list
for league in dist_countries:
    frames = []
    for season in range(15,24):
        df= pd.read_csv(root+str(season)+str(season+1) + '/' +  dist_countries[league] +'.csv',encoding = 'unicode_escape')
        df.insert(1,'season',season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dist_hist[league] = df_concat

In [37]:
dist_hist['English Premier League']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,15,07/08/15,Brighton,Nott'm Forest,1,0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E1,15,08/08/15,Birmingham,Reading,2,1,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E1,15,08/08/15,Blackburn,Wolves,1,2,A,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E1,15,08/08/15,Bolton,Derby,0,0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E1,15,08/08/15,Brentford,Ipswich,2,2,D,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,23,04/05/2024,Rotherham,Cardiff,5,2,H,2.0,1.0,...,1.82,0.25,2.01,1.89,2.00,1.88,2.06,1.91,1.98,1.85
548,E1,23,04/05/2024,Stoke,Bristol City,4,0,H,3.0,0.0,...,2.17,-0.25,1.86,2.04,1.88,2.01,1.96,2.07,1.89,1.96
549,E1,23,04/05/2024,Sunderland,Sheffield Weds,0,2,A,0.0,2.0,...,1.86,-0.25,1.95,1.95,1.94,1.94,2.04,1.95,1.98,1.85
550,E1,23,04/05/2024,Swansea,Millwall,0,1,A,0.0,0.0,...,1.96,-0.50,2.05,1.85,2.05,1.85,2.06,1.86,2.03,1.81
551,E1,23,04/05/2024,West Brom,Preston,3,0,H,1.0,0.0,...,1.75,-1.00,1.95,1.95,1.92,1.97,1.95,2.14,1.84,2.01